<% layout("./layouts/boilerplate.ejs") %> <% pageTitle = "WanderLust" %>
<script>
    const mapToken = "<%=process.env.MAP_TOKEN %>";
</script>

<div class="mt-3">
    <div class="col-8 offset-2 show-container">
        <h5 class="m-3 fs-3"><%= listing.title %></h5>
        <div class="card col-8 listing-card fw-medium">
            <img class="card-img-top" src="<%= listing.image.url%>" alt="Card image cap" />
            <div class="card-body">
                <p class="card-text">
                    <span class="fw-semibold">Hosted by </span
                    ><span class="text-primary"><%= listing.owner.username%></span>
                </p>
                <p class="card-text">
                    <i class="fa-solid fa-location-dot"></i> <%= listing.location%>, <%=
                    listing.country%>
                </p>
                <p class="card-text"><%= listing.description%></p>
                <% if (listing.price !== undefined && listing.price !== null) { %>
                <p class="card-text">
                    &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                </p>
                <% }%>
            </div>
        </div>
        <%if(currentUser && currentUser._id.equals(listing.owner._id)) {%>
        <div class="row mb-2">
            <div class="col-4">
                <form action="/listing/<%= listing._id %>/edit" method="get">
                    <button class="btn btn-success">
                        <i class="fa-regular fa-pen-to-square"></i> edit
                    </button>
                </form>
            </div>
            <div class="col-6">
                <form action="/listing/<%= listing._id %>?_method=DELETE" method="post">
                    <button class="btn btn-danger opacity-75">
                        <i class="fa-solid fa-trash"></i> delete
                    </button>
                </form>
            </div>
        </div>
        <%}%>
    </div>
    <div class="col-8 offset-2 mb-3 mt-4 map-container">
        <h4 class="m-2">Map</h4>
        <div id="map" class="map rounded-1" style="width: 40vw; height: 40vh"></div>
    </div>

    <div class="col-8 offset-2 mb-3 mt-4 review-container">
        <%if(currentUser) {%>

        <h4>Leave a Review</h4>

        <form
            action="/listing/<%= listing._id  %>/reviews"
            method="post"
            novalidate
            class="needs-validation"
        >
            <div class="mt-4">
                <label for="rating" class="form-label">Rating</label>
                <fieldset class="starability-checkmark">
                    <input
                        type="radio"
                        id="no-rate"
                        class="input-no-rate"
                        name="review[rating]"
                        value="1"
                        checked
                        aria-label="No rating."
                    />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
            </div>

            <div class="mb-3">
                <label for="comment" class="form-label">Comments</label>
                <textarea
                    name="review[comment]"
                    id="comment"
                    cols="25"
                    rows="5"
                    class="form-control"
                    required
                ></textarea>
                <div class="invalid-feedback">Please add comments for review</div>
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
        <%}%> <%if(listing.reviews.length>0) {%>
        <div class="row mt-5 m-0">
            <h4><b>All Reviews</b></h4>
            <% for(review of listing.reviews) {%>
            <div class="card m-1 col-5 reviews-box">
                <div class="card-body">
                    <h5 class="card-title">@<%=review.author.username%></h5>
                    <p class="starability-result card-text" data-rating="<%= review.rating%>"></p>
                    <p class="card-text"><%= review.comment%></p>

                    <form
                        action="/listing/<%= listing._id%>/reviews/<%= review._id%>?_method=delete"
                        method="POST"
                    >
                        <button class="btn btn-danger mt-3">delete</button>
                    </form>
                </div>
            </div>

            <%}%>
        </div>
        <%}%>
    </div>
</div>
